<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="logo"><a href="/">NewsPortal</a></div>
						<nav class="main_nav">
							<ul>
								<li class="active"><a href="/">News</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/feedback">Gallery</a></li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="#">Admin</a></li>
							</ul>
						</nav>
						<nav class="main_nav" >
							<ul>
								<li><a href="#">Hi, Guest!</a></li>
								<li><a href="#">Login</a></li>
								<li><a href="#">Sign up</a></li>
							</ul>
						</nav>
						<!--
						<div class="search_container ml-auto">
							<div class="weather">
								<div class="temperature">+10°</div>
								<img class="weather_icon" src="{{ url_for('static', filename='images/cloud.png') }}" alt="">
							</div>
							<form action="#">
								<input type="search" class="header_search_input" required="required" placeholder="Type to Search...">
								<img class="header_search_icon" src="{{ url_for('static', filename='images/search.png') }}" alt="">
							</form>

						</div>
						-->
						<div class="hamburger ml-auto menu_mm">
							<i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>