{% extends 'layouts/base.html' %}

{% block content %}
<div id="breadcrumb" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">{{ title }}</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="/">accounts</a></li>
                    <li class="active">profile</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row text-center">
            <h3 style="color: darkcyan">Сторінка профіля користувача</h3>
        </div>
    </div>
</div>
{% endblock content %}