{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<div id="breadcrumb" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">{{ title }}</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="/">accounts</a></li>
                    <li class="active">sign_up</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row text-center">
            <h3 style="color: darkcyan">Реєстрація</h3>
                <form id="form1" class="form-auth" action="/accounts/sign_up" method="post" onsubmit="return false">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login" class="form-label">Логін:</label>
                        <input type="text" id="login" name="login" class="form-control"
                            placeholder="Введіть ваш логін" required>
                        <span id ="login_err" class="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="pass1" class="form-label">Пароль:</label>
                        <input type="password" id="pass1" name="pass1" class="form-control"
                            placeholder="Введіть ваш пароль" required>
                        <span id ="pass1_err" class="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="pass2" class="form-label">Підтвердження:</label>
                        <input type="password" id="pass2" name="pass2" class="form-control"
                            placeholder="Підтвердіть ваш пароль" required>
                        <span id ="pass2_err" class="error"></span>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">E-mail:</label>
                        <input type="email" id="email" name="email" class="form-control"
                            placeholder="Введіть ваш E-Mail" required>
                        <span id ="email_err" class="error"></span>
                    </div>
                    <p>
                        <input id="submit" type="submit" value="Зберегти" class="btn btn-sm btn-success my-btn">
                    </p>
                </form>

        </div>
    </div>
</div>
<style>
    .form-auth{
        border: 2px solid silver;
        border-radius: 15px;
        margin: 20px auto;
        margin-bottom: 30px;
        padding: 20px 40px 10px 40px;
        width: 40%;
        color: black;
        font-size: 15px;
        text-align: left;
        background: whitesmoke;
        box-shadow: 0px 10px 40px silver;
    }
    .form-auth > h3{
        color: #004369;
    }
    .form-auth > p{
        text-align: center;
        margin-top: 10px;
    }
    .my-btn{
        width: 120px;
    }
    .form-auth > .form-group{
        margin-bottom: 10px;
    }
    .error{
        font-style: italic;
        color: red;
        font-size: 10px;
    }
</style>
<script src="{% static 'js/sign_up.js' %}"></script>
{% endblock content %}