{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<div id="breadcrumb" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">{{ title }}</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="/">cart-items</a></li>
                    <li class="active">index</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row text-center">
            <table id="items-table" border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Товар</th>
                        <th>Ціна</th>
                        <th>Дата</th>
                        <th>Статус</th>
                        <th>Вибір</th>
                        <th>Управління</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in user_items %}
                        <tr>
                            <td class="id_cell">{{ item.id }}</td>
                            <td>{{ item.product.name }}</td>
                            <td class="price_cell">{{ item.product.price }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.status }}</td>
                            <td>
                                <input type="checkbox" class="check" value="yes" checked>
                            </td>
                            <td>
                                <input type="hidden" value="{{ item.id }}">
                                <button class="btn btn-sm btn-danger del-btn">Видалити</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div>
                <h3 style="margin-top: 20px; color: green">
                    Загальна сума до сплати: &nbsp;
                    <span id="total" style="color: red">0.00 грн</span>
                </h3>
            </div>
            <p class="mb-4 text-center" style="margin-top: 20px">
                <a id="bill-btn" href="/orders/bill/" class="btn btn-success">Перейти до замовлення</a>
            </p>
        </div>
    </div>
</div>
<style>
    #items-table{
        width: 100%;
    }
    #items-table th, #items-table td {
        text-align: center;
        font-size: 11pt;
        padding: 5px;
    }
    #items-table th{
        color: green;
        font-style: italic;
    }
    #items-table td{
        color: navy;
    }
</style>
<script src="{% static 'js/calc_items.js' %}"></script>
<script src="{% static 'js/del_item.js' %}"></script>
{% endblock content %}